body {
  margin: 0px;

  width: 100vw;

  font-family: system-ui;
}

#output {
  box-sizing: border-box;
  padding: 1rem;

  overflow: hidden;

  display: flex;
  flex-direction: column;
}

#output > #canvasContainer {
  flex: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: scroll;
}

#output > #canvasContainer > #canvas {
  flex: 1fr;
}

#output > #statsContainer {
  flex: 0 0 min-content;

  display: flex;
  justify-content: center;
}

#output > #statsContainer > #stats {
  display: grid;
  grid: repeat(4, 3.5rem) / auto auto auto auto auto 6rem auto auto;
  gap: 0rem 0.5rem;
}

#output > #statsContainer > #stats > div {
  text-align: center;
  align-content: center;
}

#output > #statsContainer > #stats > div.name {
  padding-right: 1.5rem;

  text-align: end;
}

#output > #statsContainer > #stats > div.value {
  text-align: end;

  font-size: 1.5rem;
  font-variant-numeric: tabular-nums;
}

#control {
  box-sizing: border-box;
  padding: 1rem;

  overflow: hidden scroll;
}

#control > header {
  margin: 0rem 0rem 2rem 0rem;
}

#control > header > h1 {
  margin: 0rem;
}

#control > div.slider, #control > #N {
  margin: 2rem 0rem;
}

#control > div.slider {
  display: flex;
  flex-direction: column;
}

#control > div.slider > div, #control > #N {
  display: flex;
  gap: 0.5rem;

  align-items: center;

  width: 100%;
}

#control > div.slider > div > div:nth-child(1),
#control > #N > div:nth-child(1) {
  flex: auto;
}

#control input[type="number"] {
  font-size: 1.5rem;

  width: 6rem;

  border: 1px solid silver;
  border-radius: 4px;
  padding: 4px;

  font-family: system-ui;
  font-variant-numeric: tabular-nums;
}

#control input[type="number"]:hover {
  border: 1px solid gray;
}

@media (width < 56rem) {
  #output {
    height: 100vh;
  }

  #control {
    min-height: 100vh;

    border-top: solid 1px silver;
  }
}

@media (width >= 56rem) {
  body {
    display: flex;

    height: 100vh;
  }

  #output {
    flex: auto;
  }

  #control {
    flex: 0 0 24rem;
    
    border-left: solid 1px silver;
  }
}

/* Not gen AI generated. */
