body {
  margin: 0px;

  width: 100vw;

  font-family: system-ui;
}

#output {
  padding: 1rem;

  overflow: hidden;

  display: flex;
  flex-direction: column;
}

#output > #canvasContainer {
  flex: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: scroll;
}

#output > #canvasContainer > #canvas {
  flex: 1fr;
}

#output > #canvasContainer > #graphContainer {
  position: absolute;

  display: none;
  grid: 200px 200px / 200px 200px;
  gap: 2rem;

  justify-content: center;
  align-items: center;
}

#output > #canvasContainer > #graphContainer > canvas {
  border: 1px solid #C0C0C0;
  border-radius: 4px;

  background-color: #FFFFFF;
}

#output > #statsContainer {
  flex: 0 0 min-content;

  display: flex;
  justify-content: center;
}

#output > #statsContainer > #stats {
  display: grid;
  grid: repeat(4, 3.5rem) / auto auto auto auto auto 6rem auto auto;
  gap: 0rem 0.5rem;
}

#output > #statsContainer > #stats > div {
  text-align: center;
  align-content: center;
}

#output > #statsContainer > #stats > div.name {
  padding-right: 1.5rem;

  text-align: end;
}

#output > #statsContainer > #stats > div.value {
  text-align: end;

  font-size: 1.5rem;
  font-variant-numeric: tabular-nums;
}

#controlContainer {
  display: flex;

  justify-content: center;
}

#control {
  padding: 1rem;

  overflow: hidden scroll;
}

#control .clickable {
  border: 1px solid #C0C0C0;
  border-radius: 4px;
  background-color: #FFFFFF;

  padding: 0.5rem;

  font-size: 1rem;
}

#control .clickable:hover {
  background-color: #F0F0F0;
}

#control .clickable:active {
  background-color: #E0E0E0;
}

#control input[type="number"] {
  font-size: 1.5rem;

  width: 6rem;

  border: 1px solid #C0C0C0;
  border-radius: 4px;
  padding: 4px;

  font-family: system-ui;
  font-variant-numeric: tabular-nums;
}

#control > header {
  margin: 0rem 0rem 2rem 0rem;
}

#control > header > h1 {
  margin: 0rem;
}

#control > #buttonContainer {
  display: flex;
  gap: 0.5rem;
}

#control > #buttonContainer > button {
  flex: 100%;
}

#control > #buttonContainer > button > img {
  vertical-align: -0.25rem;

  height: 1.5rem;
}

#control > #buttonContainer > #play, #control > #buttonContainer > #pause {
  flex: 0 0 3rem;
  width: 3rem;
  height: 3rem;

  display: float;
}

#control > #buttonContainer > #play {
  display: none;

  background-image: url("img/play.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

#control > #buttonContainer > #pause {
  background-image: url("img/pause.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

#control > #legendContainer > .legend {
  flex: none;

  display: flex;
  gap: 0.5rem;
  align-content: center;
}

#control > #legendContainer > .legend > div {
  align-content: center;
}

#control .slider, #control > #N {
  margin: 2rem 0rem;
}

#control > #J1, #control > #J2, #control > #J3, #control > #J4 {
  margin-bottom: 0.5rem;
}

#control > #J2, #control > #J3, #control > #J4, #control > #J0 {
  margin-top: 0.5rem;
}

#control div.slider {
  display: flex;
  flex-direction: column;
}

#control .parameter {
  display: flex;
  gap: 0.5rem;

  align-items: center;

  width: 100%;
}

#control .parameter > div:nth-child(1) {
  flex: auto;
}

#control > #legendContainer {
  gap: 2rem;
}

#control .J {
  vertical-align: -0.75rem;
}

#control > details > summary {
  font-size: 1rem;

  border: 1px solid #C0C0C0;
  border-radius: 4px;
  padding: 0.5rem;

  margin: 2rem 0rem;
}

@media (width < 64rem) {
  #output {
    height: 100vh;
  }

  #controlContainer {
    min-height: 100vh;

    border-top: solid 1px #C0C0C0;
  }

  #control {
    width: 32rem;
  }
}

@media (width >= 64rem) {
  body {
    display: flex;

    height: 100vh;
  }

  #output {
    flex: auto;
  }

  #controlContainer {
    border-left: solid 1px #C0C0C0;
  }

  #control {
    width: 24rem;
  }
}

/* Not gen AI generated. */
