body {
  margin: 0px;

  width: 100vw;

  font-family: system-ui;
}

#output {
  padding: 1rem;

  overflow: hidden;

  display: flex;
  flex-direction: column;
}

#output > #canvasContainer {
  flex: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

#output > #canvasContainer > #canvas {
  flex: 1fr;
}

#output > #canvasContainer > #graphContainer {
  position: absolute;

  display: none;
  grid: 200px 200px / 200px 200px;
  gap: 2rem;

  justify-content: center;
  align-items: center;
}

#output > #canvasContainer > #graphContainer > canvas {
  border: 1px solid oklch(80% 0% 0deg);
  border-radius: 0.5rem;

  background-color: oklch(100% 0% 0deg);
}

#output > #statsContainer {
  flex: 0 0 min-content;

  display: flex;
  justify-content: center;
}

#output > #statsContainer > #stats {
  display: grid;
  grid: repeat(4, 3.5rem) / auto auto auto auto auto 6rem auto auto;
  gap: 0rem 0.5rem;
}

#output > #statsContainer > #stats > div {
  text-align: center;
  align-content: center;
}

#output > #statsContainer > #stats > div.name {
  padding-right: 1.5rem;

  text-align: start;
}

#output > #statsContainer > #stats > div.value {
  text-align: end;

  font-size: 1.5rem;
  font-variant-numeric: tabular-nums;
}

#controlContainer {
  display: flex;

  justify-content: center;

  background-color: oklch(95% 0% 0deg);
}

#control {
  padding: 1rem;

  overflow: hidden scroll;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#control #link {
  padding-top: 0.5rem;
}

#control a {
  color: oklch(50% 0% 0deg);
}

#control > .box {
  background-color: oklch(100% 0% 0deg);
  border-radius: 0.5rem;

  padding: 1rem;
}

#control .clickable {
  border: 1px solid oklch(80% 0% 0deg);
  border-radius: 0.5rem;
  background-color: oklch(100% 0% 0deg);

  padding: 0.5rem;

  font-size: 1rem;
}

#control .clickable:hover {
  background-color: oklch(95% 0% 0deg);
}

#control .clickable:active {
  background-color: oklch(90% 0% 0deg);
}

#control input[type="number"] {
  font-size: 1.5rem;

  width: 6rem;

  border: 1px solid oklch(90% 0% 0deg);
  border-radius: 0.5rem;
  padding: 0.25rem;

  font-family: system-ui;
  font-variant-numeric: tabular-nums;
}

#control input[type="number"]:hover {
  border-color: oklch(80% 0% 0deg);
}

#control > header > h1 {
  margin: 0rem;
}

#control #buttonContainer {
  display: flex;
  gap: 0.5rem;
}

#control #buttonContainer > button {
  font-family: system-ui;
  flex: 100%;
}

#control #buttonContainer > button > img {
  vertical-align: -0.25rem;

  height: 1.5rem;
}

#control #buttonContainer > #play, #control #buttonContainer > #pause {
  flex: 0 0 3rem;
  width: 3rem;
  height: 3rem;

  display: float;
}

#control #buttonContainer > #play {
  display: none;

  background-image: url("img/play.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

#control #buttonContainer > #pause {
  background-image: url("img/pause.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

#control #buttonContainer > #manual {
  display: none;
}

#control > #legendContainer > .legend {
  flex: none;

  display: flex;
  gap: 0.5rem;
  align-content: center;
}

#control > #legendContainer > .legend > div {
  align-content: center;
}

#control #spinButtonContainer {
  display: flex;
  gap: 0.5rem;
}

#control #spinButtonContainer > button {
  font-family: system-ui;
  flex: 100%;
  margin-bottom: 1rem;
  height: 3rem;
}

#control div.slider {
  display: flex;
  flex-direction: column;
}

#control .parameter {
  display: flex;
  gap: 0.5rem;

  align-items: center;

  width: 100%;

  box-sizing: border-box;
}

#control .parameter > div:nth-child(1) {
  flex: auto;
}

#control > #legendContainer {
  gap: 2rem;
}

#control #JContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding-top: 1rem;
}

#control .J {
  vertical-align: -0.75rem;
}

#control #sContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding-top: 1rem;
}

#control > details {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

#control > details > summary {
  font-size: 1rem;
}

#control .katex-display {
  margin: 0rem;
}

#control #system {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#control form {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

@media (width < 64rem) {
  #output {
    height: 100vh;
  }

  #controlContainer {
    min-height: 100vh;
  }

  #control {
    width: 32rem;
  }
}

@media (width >= 64rem) {
  body {
    display: flex;

    height: 100vh;
  }

  #output {
    flex: auto;
  }

  #control {
    width: 24rem;
  }
}

/* Not gen AI generated. */
